body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.calculator{
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 250px;
}
.display{
    background-color: #333;
    color: #fff;
    font-size: 2em;
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
}
.btn{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s ese;
}
.btn:hover{
    background-color: #f0f0f0;
}
.operator{
    background-color: #f9a825;
    color: #fff;
}
.equal-sign{
background-color: #4caf50;
color: #fff;
grid-column: span 2;
}
.equal-sign:hover{
    background-color: #388e3c;
}
.clear{
    background-color: #f44336;
    color: #fff;
    grid-template-columns: span 2;
}
.clear:hover{
    background-color: #d32f2f;
}
.zero{
    grid-column: span 2;
}
.percentage{
    background-color: #5caf51;
}
.pluse{
    background-color: #388e5c;
}